@import "../../styles/common/mixins.scss";
@import "../../styles/common/vars.scss";

.pls-banner{
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 80px;
    height: 220px;
    .pls-banner-wraapper{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        @include animate;
    }
    .pls-banner-slide{
        width: 100%;
        min-width: 100%;
        height: auto;
        @include flex-row-center;
        .pls-brand-card-wrapper{
            border: 0;
            text-decoration: none;
            outline: 0;
            .pls-brand-card{
                width: auto;
                @include flex-col-center;
                .pls-brand-img{
                    width: 150px;
                    height: 150px;
                    background: {
                        size: 80%;
                        position: center;
                        repeat: no-repeat;
                    }
                }
                .pls-brand-name{
                    font: {
                        size: 14px;
                        weight: 500;
                    }
                    color: rgba($black, 0.5);
                }
            }
        }
    }
    .pls-banner-controls{
        width: 100%;
        @include flex-row-center;
        position: absolute;
        left: 0px;
        bottom: 2px;
        z-index: 1;
        .pls-banner-control{
            cursor: pointer;
            outline: 0;
            width: 36px;
            height: 36px;
            border-radius: 18px;
            @include flex-col-center;
            margin-right: 20px;
            border: 5px solid $white;
            @include shadow;
            background-color: $border;
            &.active{
                background-color: $color-1;
            }
            &:last-of-type{
                margin-right: 0;
            }
        }
    }
}